h1{
    color: rgb(18, 6, 119);
}
h2{
    color: rgb(53, 76, 206);
}
a{
    color: rgb(168, 102, 39);
}
html{
    background-color: rgb(153, 156, 126);
}
img{
    width: 400px;
    margin-left: 50px;
}
.image_name{
    font-size: 1.5rem;
}
ul{
	list-style-type: square;    /* квадратные маркеры*/
}
a:hover{
    color: #1b8a24; /* Меняем цвет ссылки */
  }